extends ../layout

block content
  div(id="qrcode_list" v-cloak)
    if myQrcodes.length === 0
      p= "データがありません。"
    else
      each item in myQrcodes
        a(href=`/qrcode/${item.qrcode_uuid}`)
          div.item-card
            <qrcode-image imgwidth="200" imgheight="200" qrcodedata=#{item.base64img}></qrcode-image>
            p= item.title
  if meta
    div#pagination_container
      - var currentpage = JSON.stringify(meta.current_page);
      - var prevpage = JSON.stringify(meta.prev_page);
      - var nextpage = JSON.stringify(meta.next_page);
      - var totalcount = JSON.stringify(meta.total_count);
      - var totalpages = JSON.stringify(meta.total_pages);
      <pagination currentpage=#{currentpage} prevpage=#{prevpage} nextpage=#{nextpage} totalcount=#{totalcount} totalpages="#{totalpages}" linkpath="/my/qrcode"></pagination>
  

