extends ../layout

block content
  div
    div#qrcode_container
      if qrcode
        div#qrcode_list
          <qrcode-image imgwidth="300" imgheight="300" qrcodedata=#{qrcode.base64img}></qrcode-image>
      else
        p= "データがありません。"

    div#detail_container
      div#detail_title
        p= qrcode.title
      div#detail_url
        - var url = qrcode.gen_type_url.url
        a(href=`${url}`)
          div
            p #{url} 
      if user
        div#mylist_button 
          <mylist-button apitoken=#{apiToken} qrcodeuuid=#{qrcodeUuid}></mylist-button>
        div#delete_button 
          <delete-button apitoken=#{apiToken} qrcodeuuid=#{qrcodeUuid}></delete-button>

    
