extends layout

block content
  h1= title
  p Welcome to #{title}
  - var userId = user ? user.userId :  ""
  p #{userId}
  if user
    div
      each item in qrcodes
        a(href=`/qrcode/${item.qrcode_uuid}`)
          div.item-card
            p= item.title
