extends layout

block content
  div(id="qrcode_list" v-cloak)
    each item in qrcodes
      a(href=`/qrcode/${item.qrcode_uuid}`)
        div.item-card
          <qrcode-image imgwidth="200" imgheight="200" qrcodedata=#{item.base64img}></qrcode-image>
          div.item-card-detail
            div.user_info
              div.user_info_item
                img(src="/images/102_h_hoso.svg" width="20")
              div.user_info_item
                p= item.user.username
            p.item-card-title= item.title
  if meta
    div(id="pagination_container")
      - var currentpage = JSON.stringify(meta.current_page);
      - var prevpage = JSON.stringify(meta.prev_page);
      - var nextpage = JSON.stringify(meta.next_page);
      - var totalcount = JSON.stringify(meta.total_count);
      - var totalpages = JSON.stringify(meta.total_pages);
      <pagination currentpage=#{currentpage} prevpage=#{prevpage} nextpage=#{nextpage} totalcount=#{totalcount} totalpages="#{totalpages}" linkpath="/"></pagination>
  
