extends layout

block content
  div(id="qrcode_list" v-cloak)
    if qrcodes.length === 0
      p= "データがありません。"
    else
      each item in qrcodes 
        a(href=`/qrcode/${item.qrcode_uuid}`)
          <card-item :cardinfo="{ imgwidth: 200, imgheight: 200, item: #{JSON.stringify(item)}}"></card-item>
  if meta
    div#pagination_container
      - var currentpage = JSON.stringify(meta.current_page);
      - var prevpage = JSON.stringify(meta.prev_page);
      - var nextpage = JSON.stringify(meta.next_page);
      - var totalcount = JSON.stringify(meta.total_count);
      - var totalpages = JSON.stringify(meta.total_pages);
      <pagination currentpage=#{currentpage} prevpage=#{prevpage} nextpage=#{nextpage} totalcount=#{totalcount} totalpages="#{totalpages}" linkpath="/mylist"></pagination>
  